package {{.File.GoPackageName}}

var AllowedUnauthenticatedMethods = map[string]bool{
{{range .Service.Methods}}
  {{- $authz := methodExtension . "extensions.authz" -}}
  {{- $allowUnauthenticated := fieldByName $authz "allow_unauthenticated" -}}
  {{- if $allowUnauthenticated -}}
    "{{.GoName}}": true,
  {{- end}}
{{end}}
}
